.tab{/*tab (intro, project, contect)*/

    float: right; /*오른쪽 정렬*/
    margin-top: -38px; /*위에 여백*/
    margin-right: 40px;
}
/*fp_tab (profile)*/
.fp_tab{
    padding-top: 8px; /*위에 여백*/
}
/*menu (profile, intro, project, contect)*/
.menu{
   
    margin: -16px 100px; /*배경 여백*/
    margin-left: -5px;
    margin-right: -5px;
    height: 40px; /*배경 사이즈*/
    background-color: #F0F0F0; /*배경 색깔*/
    
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu a{ 
    text-decoration-line: none; /*밑줄 없애기*/
    color: black; /* 글자 색 검정색으로 바꿈*/
}

body{ /*배경색*/
    background-color: #B8B2BC;
}

.pf_nbs{
    margin-top: 130px;
    margin-left: 600px;
}

#name{  /*이름*/
    color: #4A4458;
}

#bs{    /*생년월일, 학교*/
    margin-top: -15px;
}